{% extends 'Public/base.html' %}
{% load static %}
{% block body %}
<div class="content-wrapper" style="min-height: 1329.44px;">
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Create User</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/deshboard">Home</a></li>
						<li class="breadcrumb-item active">Create User</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>
	<!-- End Blog Header -->
	<!-- ======= SingUp Section ======= -->
	<div class="container ">
		<div class="row">
			<div class="col-md-6 mx-auto my-3 shadow-lg p-3 mb-5 border rounded">
				<div class="card">
					<div class="card-body">
						{% comment %} <div class="row">
							<div class="col">
								<center>
									<img width="150px" src="{% static 'assets/img/icon/generaluser.png' %}" />
								</center>
							</div>
						</div> {% endcomment %}
						<div class="row">
							<div class="col">
								<center>
									<h3><b>User Registration</b></h3>
								</center>
							</div>
						</div>
						<div class="row">
							<div class="col">
								{% if error %}
								<div class="alert alert-danger" role="alert">
								  {{error}}
								</div>
								{% endif %}
							</div>
						</div>
						<div class="row">
							<div class="col">
								<hr />
							</div>
						</div>
						<form action="/admin/Register" method="post">
							{% csrf_token %}
							<div class="form-group">
								<label><b>Username:</b></label>
								<input type="text" class="form-control" id="username" name="username"
									placeholder="Choose a unique username (Lowercase & Alphanumeric)" required value="{{values.username}}"/>
							</div>
							<div class="form-row">
								<div class="form-group col-md-4">
									<label><b>First Name:</b></label>
									<input type="text" class="form-control" id="fname" name="first_name"
										placeholder="First Name" required value="{{values.first_name}}"/>
								</div>
								<div class="form-group col-md-4">
									<label><b>Middle Name:</b></label>
									<input type="text" class="form-control" id="lname" name="mid_name"
										placeholder="Middle Name" required value="{{values.mid_name}}"/>
								</div>
								<div class="form-group col-md-4">
									<label><b>Last Name:</b></label>
									<input type="text" class="form-control" id="lname" name="last_name"
										placeholder="Last Name" required value="{{values.last_name}}"/>
								</div>
							</div>
							<div class="form-group">
								<label><b>Email address:</b></label>
								<input type="email" class="form-control" id="email" name="email"
									placeholder="Enter Your Email" required value="{{values.email}}"/>
							</div>
							<div class="form-row">
								<div class="form-group col-md-6">
									<label>phone:</label>

									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text"><i class="fas fa-phone"></i></span>
										</div>
										<input type="text" name="phone" class="form-control"
											data-inputmask="&quot;mask&quot;: &quot;(999) 999-9999&quot;" data-mask=""
											inputmode="text" value="{{values.phone}}">
									</div>
									<!-- /.input group -->
								</div>
								<div class="form-group col-md-6">
									<label>Date of Birth:</label>
									  <div class="input-group date" id="reservationdate" data-target-input="nearest">
										  <input type="text" name="dob" class="form-control datetimepicker-input" data-target="#reservationdate" value="{{values.dob}}">
										  <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
											  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
										  </div>
									  </div>
								  </div>
							</div>
							<div class="form-group">
								<label><b>Choose a password:</b></label>
								<input type="password" class="form-control" id="password" name="password"
									placeholder="Choose a password" required />
							</div>
							<div class="form-group">
								<label><b>Confirm password:</b></label>
								<input type="password" class="form-control" id="password" name="pass1"
									placeholder="Re-type Password" required />
							</div>
							<div class="form-group">
								<label><b>Country:</b></label>
								<input type="text" class="form-control" id="password" name="country"
									placeholder="Country" required />
							</div>
							<div class="form-group">
								<label><b>State:</b></label>
								<select class="form-control select2bs4" style="width: 100%;" name="state">
									<option selected="selected">Select State</option>
									<option>Alaska</option>
									<option>California</option>
									<option>Delaware</option>
									<option>Tennessee</option>
									<option>Texas</option>
									<option>Washington</option>
								</select>
							</div>
							<div class="form-group">
								<label><b>City:</b></label>
								<input type="text" class="form-control" id="password" name="city"
									placeholder="City" required />
							</div>
							<button type="submit" class="btn-lg btn-primary">
								Sign Up
							</button>
							<div class="float-right mt-5">
								Already have a Account ? <a href="/AdminLogin"><b>Login</b></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}